extends layout

block content

  h2 The mode state is: 
  p !{global_mode}
  h4 The brightness is: #{global_brightness}%
  if globalMode_luxAuto
    h4 The lux mode is: auto
  else
    h4 The lux mode is: manual

  h2 Change Sign Mode
  
  form(method='POST' action='/modeChange')
    div.actions
      | busPIDMode
      input(type="checkbox", name="busPIDMode", checked=global_mode_obj.busPIDMode)
    div.actions
      | tick enabled
      input(type="checkbox", name="tick", checked=global_mode_obj.tick.enabled)
    div.actions
      | tick clock
      input(type="checkbox", name="tickClock", checked=global_mode_obj.tick.clock)
    div.actions
      | tick UtcClock
      input(type="checkbox", name="tickUtcClock", checked=global_mode_obj.tick.UtcClock)
    div.actions
      | tick temp
      input(type="checkbox", name="ticktemp", checked=global_mode_obj.tick.temp)
    div.actions
      | tick weather temp
      input(type="checkbox", name="tickWeatherTemp", checked=global_mode_obj.tick.weather.temp)
    div.actions
      | tick weather conditions
      input(type="checkbox", name="tickWeatherConditions", checked=global_mode_obj.tick.weather.conditions)
    div.actions
      | tick lux
      input(type="checkbox", name="tickLux", checked=global_mode_obj.tick.lux)
    div.actions
      input(type="submit", value="submit", name="submit")

  h2 Change Sign Brightness

  form(method='POST' action='/brightnessChange')
    div.actions
      input(type="submit", value="Min", name="BrightnessChangeButton")
      input(type="submit", value="--", name="BrightnessChangeButton")
      input(type="submit", value="-", name="BrightnessChangeButton")
      input(type="submit", value="+", name="BrightnessChangeButton")
      input(type="submit", value="++", name="BrightnessChangeButton")
      input(type="submit", value="Max", name="BrightnessChangeButton")

  form(method='POST' action='/brightnessChange')
    div.actions
      input(type="range", name="BrightnessSlider" min="0" max="100" step="1" value=global_brightness)
      input(type="submit", value="Submit Slider", name="SliderSubmitButton")
  
  h2 Send sign message

  form(method='POST' action='/lightmessage')
    div.actions
      p
        | Message
        input(type="text", name="message")
        | Loops
        select(type="select", name="loop")
          option(value=1) #{1}
          option(value=2) #{2}
          option(value=3) #{3}
          option(value=4) #{4}
          option(value=5) #{5}
        input(type="submit", value="Submit")
